#
# {{ ansible_managed }}
#

#
# listener
#
{% if bind_address is defined %}
bind-address: "{{ bind_address }}"
{% endif %}
{% if advertise_address is defined %}
advertise-address: "{{ advertise_address }}"
{% endif %}
{% if tls_san is defined %}
tls-san:
{% for line in tls_san %}
  - "{{ line }}"
{% endfor %}
{% endif %}

#
# data
#
{% if data_dir is defined %}
data-dir: "{{ data_dir }}"
{% endif %}

#
# networking
#
{% if cluster_cidr is defined %}
cluster-cidr: "{{ cluster_cidr }}"
{% endif %}
{% if service_cidr is defined %}
service-cidr: "{{ service_cidr }}"
{% endif %}
{% if service_node_port_range is defined %}
service-node-port-range: "{{ service_node_port_range }}"
{% endif %}
{% if cluster_dns is defined %}
cluster-dns: "{{ cluster_dns }}"
{% endif %}
{% if cluster_domain is defined %}
cluster-domain: "{{ cluster_domain }}"
{% endif %}

#
# cluster
#
{% if token is defined %}
token: "{{ token }}"
{% endif %}
{% if token_file is defined %}
token-file: "{{ token_file }}"
{% endif %}
